body {
    font-family: Courier New, sans-serif;
}

#fullpage {
    position: relative;
}
#first {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#btn {
    position: fixed;
    bottom: 0;
    left: 0;
}
#welcome {
    color: darkgray; 
    font-size: 20vw;
    text-align: center;
    overflow: hidden;
    width: 100%;
    animation: type 2s steps(60, end); 
}

#down-arrow {
    position: fixed;
    bottom: 0;
}

@keyframes type{ 
  from { width: 0; } 
} 

#second {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CFD8DC
    
}

#thanks {
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

#personaldiv {
    margin: 0 auto;
}

div#fullpage div.section div#personaldiv > div {
    color: red;
    border: 1px solid black;
    font-size: 6vw;
    margin: 3%;
    display: flex;
    justify-content: center;
    width: 60%;
}

#third {
    height: 100vh;
    width: 100vw;
}