body {
    font-family: sans-serif;
}

#fullpage {
    position: relative;
}

#zero {
    height: 90vh;
    background-color: #212121;
    position: relative;
}
#intro div#name p {
    color: white;
    font-size: 20vh;
    font-weight: 900;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 100%;
    text-align: right;
    position: absolute;
    top: 40%;
    right: 0;
    overflow: hidden;
    /*white-space: nowrap;*/
    /*animation: name 4s steps(60, end); */
}

/*@keyframes name {
  from {
    width: 1%;
  }
  to {
    width: 100%;
  }
}*/

#intro div#title {
    color: white;
    font-size: 4vh;
    font-weight: 100;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 10vh;
    text-align: right;
    position: absolute;
    top: 65%;
    right: 0;
}



#first {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 90vh;
    position: relative;
}

#btn {
    position: fixed;
    bottom: 0;
    left: 0;
}


#first div#row-one {
    display: flex;
    margin-top: 20vh;
}
#first div#row-two {
    display: flex;
    margin-bottom: 20vh;
}

#first div.row div.col-xs-6 {
    height: 25vh;
    width: 100%;
    padding: 0;
    /*margin-left: 1vh;
    margin-right: 1vh;*/
    color: darkgray; 
    font-size: 2vh;
    text-align: center;
    border: 1px white solid;
}
/*
#first div.row div.firstImg{
    overflow: auto;
    background-image: url("../images/beach.jpg");
    background-size: cover;
    
}*/

#posts {
    position: absolute;
    font-size: 10vh;
    margin-top: 8vh;
    left: 0;
    color: #212121;
}

#down-arrow {
    position: fixed;
    bottom: 0;
}

#second {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
}

#resume {
    font-size: 2.5vw;
    color: white;
    width: 100%;
    padding: 0;
    margin: 0;
    
}

#resume-modal {

    width: 25vh;
    text-align: left;
}

div.container {
    width: 30vw;
}

#contentpage {
    position: relative;
    height: 90vh;
    overflow: scroll;
}

#nameheader {
    position: fixed;
}

#modalfooter {
    position: fixed;
    bottom: 0;
}

div div.container a.btn-secondary {
    font-size: 3vh;
    color: white;
}

/*
div#fullpage div.section div#personaldiv > div {
    color: red;
    border: 1px solid black;
    font-size: 6vw;
    margin: 3%;
    display: flex;
    justify-content: center;
    width: 60%;
}*/

#third {
    height: 100vh;
    width: 100vw;
}